<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingstar.indicatorservice.mapper.WordbookMapper">


    <select id="queryOne" parameterType="com.kingstar.indicatorservice.pojo.WordbookPojo" resultType="com.kingstar.indicatorservice.entity.Wordbook">
        select
            id,
            DATA_STATUS dataStatus,
            to_char(create_time, 'yyyy-MM-dd hh24:mi:ss') createTime,
            to_char(MODIFY_TIME, 'yyyy-MM-dd hh24:mi:ss') modifyTime,
            pre,
            suf,
            timeprt
         FROM WORDBOOK where timeprt BETWEEN #{front} and #{after} and DATA_STATUS=1 and pre =#{pre}
         ORDER BY modifyTime desc
    </select>

    <select id="queryOneByPre" parameterType="java.lang.String" resultType="com.kingstar.indicatorservice.entity.Wordbook">
        select
            id,
            DATA_STATUS dataStatus,
            to_char(create_time, 'yyyy-MM-dd hh24:mi:ss') createTime,
            to_char(MODIFY_TIME, 'yyyy-MM-dd hh24:mi:ss') modifyTime,
            pre,
            suf,
            timeprt
         FROM WORDBOOK where  DATA_STATUS=1 and pre =#{pre}
    </select>

    <!--<select id="queryOne" parameterType="com.kingstar.indicatorservice.pojo.WordbookPojo" resultType="com.kingstar.indicatorservice.entity.Wordbook">
        select
            id,
            DATA_STATUS dataStatus,
            to_char(create_time, 'yyyy-MM-dd hh24:mi:ss') createTime,
            to_char(MODIFY_TIME, 'yyyy-MM-dd hh24:mi:ss') modifyTime,
            pre,
            suf,
            timeprt
         FROM WORDBOOK where timeprt BETWEEN 1 and 99999999999999 and DATA_STATUS=1 and pre ='pp' and rownum=1
         ORDER BY createTime desc
    </select>-->



</mapper>
